# Table of Contents  

## Initial Processing
[Import Packages](#Import-Packages)  
[Load File](#Load-File) 

## Data Filtering  
[Filter Data](#Filter-Data)  
[Jokes](#Jokes)  
[Duplicates](#Duplicates)

## Write in Backcoding (TBD)

### Import Packages
[Table of Contents](#Table-of-Contents)

In [18]:
import pandas as pd
import numpy as np

### Load File
[Table of Contents](#Table-of-Contents)

In [69]:
data = pd.read_csv('AVENCensus2016_data.csv')
data = data.drop(['Unnamed: 0'],1)
data.head(2)

,timestamp,year,month,education,student,religion,religionOther,raceDesc,nationality,USRegion,...,notPartNaN,notPartNervous,notPartNoLocal,notPartNotInt,notPartRacism,notPartSocAnxiety,notPartNotAccDisab,notPartUnfriendToLGBTQ,notPartUnfriendToGreyDemi,notPartElitistNonAces
0,2016-10-23 18:57:01,1995.0,July,Some college (no degree yet),"Yes, in an undergraduate program",Agnostic,NaN,White,United States of America,Florida,...,0,0,1,1,0,0,0,0,1,0
1,2016-10-23 19:35:35,1998.0,September,Less than high school,"Yes, in high school",Roman Catholic,NaN,White American,United Kingdom,NaN,...,0,1,0,0,0,0,0,0,0,0

### Duplicates
[Table of Contents](#Table-of-Contents)

In [72]:
# Drop rows that are duplicates for everything except the timestamp
cols = data.columns[1:]
data = data.drop_duplicates(cols)
data.shape

(9857, 308)

In [88]:
#List of collumns to test for too many NaN values. Excludes check box questions and write in, etc.
naTestCols = ["year","month","education","student","religion","nationality", "gender",
            "trans","aceID", "queer", "nonAceID", "partnered","sigRelationship", "romPartner",
            "nonRomPartner","acePartner","nonAcePartner","poly", "sexDrive", "firstParticipate",
            "metOffline", "offlineGroup",  "lastLGBTQPartic","sexDisposition","sexDiminish",
            "sexPolitics","sexAttitude", "findSurvey"]
#Remove rows with more than 10 NaN's in the selected columns above
data = data[data[naTestCols].isnull().sum(axis=1)<10]
data.shape

In [100]:
data.to_csv('AVENCensus2016_data.csv')