ally_directed  
ally_directed_yr  
ally_dyad  
ally_dyad_yr  
ally_member  
ally_member_yr  
diplomaticexchange  
mida  
midb  
middyadic  
midi  
midip  
nmc

In [1]:
from sqlalchemy import create_engine
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split


from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
import numpy as np
from IPython.display import Image  
import pydotplus 
from sklearn import tree

In [2]:
cnx = create_engine('postgresql://bauer:hifriends@34.193.38.130:5432/bauer')

In [3]:
#pd.read_sql_query('''SELECT * FROM ally_directed LIMIT 2''',cnx).columns

In [4]:
#pd.read_sql_query('''SELECT * FROM ally_directed_yr LIMIT 2''',cnx).columns

In [5]:
#pd.read_sql_query('''SELECT * FROM ally_dyad LIMIT 2''',cnx).columns

In [6]:
#pd.read_sql_query('''SELECT * FROM ally_dyad_yr LIMIT 2''',cnx).columns

In [7]:
#pd.read_sql_query('''SELECT * FROM ally_member LIMIT 2''',cnx).columns

In [8]:
pd.read_sql_query('''SELECT * FROM ally_member_yr LIMIT 2''',cnx).columns

Index(['id', 'version4id', 'ccode', 'state_name', 'all_st_day', 'all_st_month',
       'all_st_year', 'all_end_day', 'all_end_month', 'all_end_year',
       'ss_type', 'mem_st_day', 'mem_st_month', 'mem_st_year', 'mem_end_day',
       'mem_end_month', 'mem_end_year', 'left_censor', 'right_censor',
       'defense', 'neutrality', 'nonagression', 'entente', 'year', 'version'],
      dtype='object')

In [9]:
pd.read_sql_query('''SELECT * FROM diplomaticexchange LIMIT 2''',cnx).columns

Index(['id', 'ccode1', 'ccode2', 'year', 'dr_at_1', 'dr_at_2', 'df',
       'version'],
      dtype='object')

In [10]:
pd.read_sql_query('''SELECT * FROM mida LIMIT 2''',cnx).columns

Index(['id', 'dispnum3', 'dispnum4', 'st_day', 'st_month', 'st_year',
       'end_day', 'end_month', 'end_year', 'outcome', 'settle', 'fatality',
       'fatalpre', 'maxdur', 'mindur', 'hiact', 'hostlev', 'recip', 'numa',
       'numb', 'link1', 'link2', 'link3', 'ongo2010', 'version'],
      dtype='object')

In [11]:
pd.read_sql_query('''SELECT * FROM midb LIMIT 2''',cnx).columns

Index(['id', 'dispnum3', 'dispnum4', 'stabb', 'ccode', 'st_day', 'st_month',
       'st_year', 'end_day', 'end_month', 'end_year', 'sidea', 'revstate',
       'revtype1', 'revtype2', 'fatality', 'fatalpre', 'hiact', 'hostlev',
       'orig', 'version'],
      dtype='object')

In [12]:
#pd.read_sql_query('''SELECT * FROM middyadic LIMIT 2''',cnx).columns

In [13]:
#pd.read_sql_query('''SELECT * FROM midi LIMIT 2''',cnx).columns

In [14]:
#pd.read_sql_query('''SELECT * FROM midip LIMIT 2''',cnx).columns

In [15]:
pd.read_sql_query('''SELECT * FROM nmc LIMIT 2''',cnx).columns

Index(['id', 'stabb', 'ccode', 'year', 'irst', 'milex', 'milper', 'pec',
       'tpop', 'upop', 'cinc', 'version'],
      dtype='object')

**Data Analysis**

In [16]:
midb = pd.read_sql_query('''SELECT * FROM midb ''',cnx)
midb['year'] = midb['st_year']

In [17]:
# get irst, milex, milper, pec tpop, upop, cinc 
nmc = pd.read_sql_query('''SELECT * FROM nmc ''',cnx)
m_nmc = nmc[['ccode', 'year', 'irst', 'milex', 'milper', 'pec','tpop', 'upop', 'cinc']]

In [18]:
#get max dur
mida = pd.read_sql_query('''SELECT * FROM mida ''',cnx)
m_mida =mida.drop(['id',  'dispnum4', 'st_day', 'st_month', 'st_year',
       'end_day', 'end_month', 'end_year', 'outcome', 'settle', 'fatality',
       'fatalpre','hiact', 'hostlev', 'recip', 'numa',
       'numb', 'link1', 'link2', 'link3', 'ongo2010', 'version'],1)

In [19]:
# get 
am_year = pd.read_sql_query('''SELECT * FROM ally_member_yr ''',cnx)
m_am_year = am_year[['ccode', 'year', 'left_censor', 'right_censor','defense', 'neutrality', 'nonagression', 'entente']]

In [20]:
df = pd.merge(m_nmc,m_am_year, on=['ccode','year'],how = 'inner')
df.head()

,ccode,year,irst,milex,milper,pec,tpop,upop,cinc,left_censor,right_censor,defense,neutrality,nonagression,entente
0,2,1908,14248,54189,129,432351.0,88710.0,18902.0,0.203193,0.0,0,0,0,0.0,1.0
1,2,1909,24339,56177,142,478835.0,90490.0,19589.0,0.225197,0.0,0,0,0,0.0,1.0
2,2,1910,26512,55880,139,523027.0,92407.0,20302.0,0.226487,0.0,0,0,0,0.0,1.0
3,2,1921,20101,1116342,387,622541.0,108538.0,28210.0,0.253229,0.0,0,0,0,0.0,1.0
4,2,1922,36173,860853,270,641311.0,110049.0,29013.0,0.255595,0.0,0,0,0,0.0,1.0

In [21]:
df = pd.merge(df,midb, on=['ccode','year'],how = 'inner')
df.head()

,ccode,year,irst,milex,milper,pec,tpop,upop,cinc,left_censor,...,sidea,revstate,revtype1,revtype2,fatality,fatalpre,hiact,hostlev,orig,version
0,2,1908,14248,54189,129,432351.0,88710.0,18902.0,0.203193,0.0,...,1,1,2,-9,0,0,7,3,1,4.01
1,2,1909,24339,56177,142,478835.0,90490.0,19589.0,0.225197,0.0,...,1,1,2,-9,0,0,7,3,1,4.01
2,2,1910,26512,55880,139,523027.0,92407.0,20302.0,0.226487,0.0,...,1,1,3,-9,0,0,7,3,1,4.01
3,2,1921,20101,1116342,387,622541.0,108538.0,28210.0,0.253229,0.0,...,1,0,0,-9,0,0,7,3,0,4.01
4,2,1921,20101,1116342,387,622541.0,108538.0,28210.0,0.253229,0.0,...,1,1,2,-9,0,0,1,2,1,4.01

In [22]:
df.columns

Index(['ccode', 'year', 'irst', 'milex', 'milper', 'pec', 'tpop', 'upop',
       'cinc', 'left_censor', 'right_censor', 'defense', 'neutrality',
       'nonagression', 'entente', 'id', 'dispnum3', 'dispnum4', 'stabb',
       'st_day', 'st_month', 'st_year', 'end_day', 'end_month', 'end_year',
       'sidea', 'revstate', 'revtype1', 'revtype2', 'fatality', 'fatalpre',
       'hiact', 'hostlev', 'orig', 'version'],
      dtype='object')

In [23]:
m_mida.columns

Index(['dispnum3', 'maxdur', 'mindur'], dtype='object')

In [24]:
df = pd.merge(df,m_mida, on='dispnum3',how = 'inner')
df.head()

,ccode,year,irst,milex,milper,pec,tpop,upop,cinc,left_censor,...,revtype1,revtype2,fatality,fatalpre,hiact,hostlev,orig,version,maxdur,mindur
0,2,1908,14248,54189,129,432351.0,88710.0,18902.0,0.203193,0.0,...,2,-9,0,0,7,3,1,4.01,11,11
1,740,1908,99,21338,273,15631.0,47965.0,5537.0,0.036677,0.0,...,0,-9,0,0,0,1,1,4.01,11,11
2,740,1908,99,21338,273,15631.0,47965.0,5537.0,0.036677,0.0,...,0,-9,0,0,0,1,1,4.01,11,11
3,2,1909,24339,56177,142,478835.0,90490.0,19589.0,0.225197,0.0,...,2,-9,0,0,7,3,1,4.01,143,143
4,91,1909,0,120,1,0.0,540.0,0.0,0.000151,0.0,...,0,-9,0,0,7,3,0,4.01,143,143

In [25]:
df.columns

Index(['ccode', 'year', 'irst', 'milex', 'milper', 'pec', 'tpop', 'upop',
       'cinc', 'left_censor', 'right_censor', 'defense', 'neutrality',
       'nonagression', 'entente', 'id', 'dispnum3', 'dispnum4', 'stabb',
       'st_day', 'st_month', 'st_year', 'end_day', 'end_month', 'end_year',
       'sidea', 'revstate', 'revtype1', 'revtype2', 'fatality', 'fatalpre',
       'hiact', 'hostlev', 'orig', 'version', 'maxdur', 'mindur'],
      dtype='object')

In [26]:
df_num = df[['hostlev','irst', 'milex', 'milper', 'pec', 'tpop', 'upop',
       'cinc', 'left_censor', 'right_censor', 'defense', 'neutrality',
       'nonagression', 'entente','revstate','fatality', 'fatalpre','maxdur', 'mindur']]
len(df_num)

16704

In [27]:
df_full = pd.DataFrame(df_num.dropna())
df_full.columns

Index(['hostlev', 'irst', 'milex', 'milper', 'pec', 'tpop', 'upop', 'cinc',
       'left_censor', 'right_censor', 'defense', 'neutrality', 'nonagression',
       'entente', 'revstate', 'fatality', 'fatalpre', 'maxdur', 'mindur'],
      dtype='object')

In [28]:
df_to_scale = df_full.drop(['hostlev'],1)
len(df_full)

16688

In [29]:
scaled = preprocessing.StandardScaler().fit_transform(df_to_scale)
y= pd.DataFrame(df_full['hostlev'])
X = pd.DataFrame(scaled)

In [30]:
X_train, X_test, y_train, y_test = \
        train_test_split(X, y, test_size=.4, random_state=42)

**Run Models**

In [31]:
def classScore(classifier):
    cls = classifier
    classed=cls.fit(X_train, y_train)
    y_score = classed.score(X_test,y_test)
    return y_score

In [32]:
print('GaussianNB Test Accuracy:',classScore(GaussianNB()))

GaussianNB Test Accuracy: 0.542390653086

/Users/bauer/anaconda3/lib/python3.5/site-packages/sklearn/utils/validation.py:526: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [33]:
print('SVC Test Accuracy:',classScore(SVC()))

/Users/bauer/anaconda3/lib/python3.5/site-packages/sklearn/utils/validation.py:526: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC Test Accuracy: 0.616087477531

In [34]:
print('DecisionTreeClassifier Test Accuracy:', classScore(DecisionTreeClassifier()))

DecisionTreeClassifier Test Accuracy: 0.90443379269

In [35]:
estimator=tree.DecisionTreeClassifier()
dtree = estimator.fit(X_train, y_train)

In [36]:
n_nodes = dtree.tree_.node_count
children_left = estimator.tree_.children_left
children_right = estimator.tree_.children_right
feature = estimator.tree_.feature
threshold = estimator.tree_.threshold

# No no, this is for only two features at a time
plot_colors = "bry"
plot_step = 0.02

plt.subplot(2,3,1)

x_min, x_max = X[:, 0].min() - 1, X[:, 0].max() + 1
y_min, y_max = X[:, 1].min() - 1, X[:, 1].max() + 1
xx, yy = np.meshgrid(np.arange(x_min, x_max, plot_step), np.arange(y_min, y_max, plot_step))

In [37]:
dot_data = tree.export_graphviz(dtree, out_file=None)

In [38]:
graph = pydotplus.graph_from_dot_data(dot_data) 
graph.write_pdf("war.pdf")

True

dot_data = tree.export_graphviz(dtree, out_file=None, 
                         feature_names=X.columns,  
                         class_names=['1','2','3','4','5'],  
                         filled=True, rounded=True,  
                         special_characters=True)

In [ ]:
graph = pydotplus.graph_from_dot_data(dot_data) 
graph.write_pdf("war2.pdf")

In [ ]:
y['hostlev'].value_counts()

In [ ]:
graph = pydotplus.graph_from_dot_data(dot_data)  
Image(graph.create_png())

In [ ]:
print('RandomForestClassifier Test Accuracy:',classScore(RandomForestClassifier()))

In [ ]:
print('Gaussian NB CV Score:',np.mean(cross_val_score(GaussianNB(), X, y, cv=5)))

In [ ]:
print('SVC NB CV Score:',np.mean(cross_val_score(SVC(), X, y, cv=5)))

In [ ]:
print('DecisionTreeClassifier CV Score:',np.mean(cross_val_score(DecisionTreeClassifier(), X, y, cv=5)))

In [ ]:
print('RandomForestClassifier CV Score:',np.mean(cross_val_score(RandomForestClassifier(), X, y, cv=5)))

In [ ]:
type(X)